@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
        color: #2a7ae2; /* Change this to your desired color */
    }
</style>

<div class="centered-content">
    <h1>@ViewData["Title"]</h1>
    <p>Privacy policy will be here. Or not.</p>
</div>
